.carousel{
    overflow: hidden;
    width: 100%;
    margin: 70px 25px 25px 25px;
}

.inner{
    transition: trasform 0.5s;
    white-space: nowrap;
    height: 50%;
    width: 100%;
}

.home-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: yellowgreen;
    color: #fff;
}

.indicators{
    display: flex;
    justify-content: center;
    height: 50px;
}

.indicators > button{
    margin: 5px;
    background: transparent;
    color: white;
    border: none;
    font-size: 25px;
}

.my-songs-header{
    margin-top: 15px;
    margin-left: 25px;
    color: white;
}
