.content{
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fluffy{
    border-radius: 50%;
    margin-top: 25px;
    height: 750px;
    width: 500px;
}
