.songDiv{
    display: grid;
        grid-template-columns: repeat(5, 20%);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        height: 400px;
        justify-self: center;
}

.song-container{
    font-size: 1.2em;
    border: 1px solid rgba(255, 103, 1, 0.2);
    margin: 0.25em;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 200px;
}

.song-container:hover{
    border: 1px solid rgba(255, 255, 255, 0.2);

}

.song-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.title{
    margin-bottom: 25px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.sadCat{
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 50%;
}

h2{
    margin-top: 25px;
    color: white;
    align-self: center;
    justify-self: center;
}

.notLoggedIn{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
