.albums-div{
    color: white;
    margin-left: 25px;
    margin-top: 25px;
}

.songs-div{
    color: white;
    margin-left: 25px;
    margin-top: 25px;
}

.header{
    display: flex;
    align-items: baseline;
}

.header > *{
    margin-right: 25px;
    border-radius: 12px;
    padding: 5px;
    border: none;
}

.header > button{
    background-color: #252526;
    color: white;
    border: 1px solid white;
}

.header > button:hover{
    border: 1px solid #ff6701;
    color: #ff6701;

}
