.menuImg{
    width: 90%;
    border-radius: 12px;
    margin-top: 25px;
    align-self: center;
    margin-bottom: 25px;
}

.inputLeftMenu{
    padding: 0px;
    background-color: #1f1f1f;
    border: black 1px solid;
    height: 32px;
    margin-bottom: 25px;
    width: 90%;
    align-self: center;
    color:white;
}


.navOptions{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 260px;
    background-color: #252526;
    border-right: 1px solid rgba(255, 103, 1, 0.5);
}

.navOptions > a, p{
    width: 80%;
    padding: 15px;
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 15px;

}

.navOptions > *:visited{
    color: white;
}

.navOptions >*:active{
    background-color: rgba(255, 103, 1, 0.1);
    border-radius: 6px;
}

hr{
    border-color: rgba(255, 103, 1, 0.5);
    width: 90%;
    align-self: center;
    margin-top: 10px;
}


.active{
    background-color: black;
    border-radius: 6px;
}

.SalesPitch{
    margin: none;
    text-align: center;
}

.external-links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.fa-github-square{
    margin-right: 25px;
}

.fab{
    font-size: 80px;
    color: #1f1f1f;
}

.fab:hover{
    color: #ff6801;
}
