html body{
    margin: 0px;
    height: 100%;
}

.navOptions{
    display: block;
    height: 100vh;
    width: 260px;
    background-color: #252526;
}

.navOptions > *{
    display: flex;
    flex-direction: column;
}

hr{
    background-color: lightcoral;
}
