 * {
    margin: 0px;
    padding:0px;
}

.registration{
    display: flex;
    padding: 20px 0px 20px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.registration > * {
    height: 28px;
    border-radius: 6px;
    margin-right: 20px;
    padding: 0px 12px;
    background-color: #ff6701;
    color: white;
    border: none;
    font-size: 13px;
}
